<%= form_for @list_item, url: {controller: 'list_items', action:'create'}, remote: true do |f| %>
  <p>
    <%= f.text_field :to_do %><%= f.submit "Add item" %>
    <%= hidden_field_tag :list_id, @list.id %>
  </p>
<% end %>