<br>
<br>
<br>
<br>

<h1>Get Busy</h1>


<%if @current_user%>
<table>
  <thead>
    <tr>
      <th>My Lists</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_lists.each do | list | %>
      <tr>
        <td><%= link_to list.name, list_path(list) %></td>
        <td><%= link_to 'Remove list', list, class: "ajax-destroy", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

<table>
  <thead>
    <tr>
      <th>Here's what's going on in the hive:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr></tr>
    <% @others_lists.each do | list | %>
      <tr>
        <td><strong><%= list.name %></strong> by <%= list.user.username %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>