<div class='list_header'>
  <h2>about the hive:</h2>
</div>
<div class='about'>
  <p>
    Busy Bee is a list organizer that allows users to sign up, create new lists and add/remove items from their lists. Created as an assignment for <a href="http://www.adadevelopersacademy.org">Ada Developer's Academy,</a> Busy Bee was built using RoR, Javascript, AJAX and HTML/CSS. 
  </p>
  <p>
    Once you see all your to-do's, it's easy to feel like a <em>busy bee,</em> too.
  </p>
</div>
