$('#list_items').append('<li id=\"list_item_<%= "#{@list_item.id}" %>\"><%= j @list_item.to_do %><%= j link_to 'Bzzz, I\'m done!', { controller: 'list_items', action: 'destroy', id: @list_item.id }, remote: true %></li>');
$('#list_item_to_do').val('');

